:root{
    --color-set-one-1: #4ea1d4!important;
    --color-set-one-1: #4ea1d4!important;
    --preloader-text-color: #4ea1d4!important;
    --preloader-background-color-2: #153e7d!important;
    --preloader-background-color: #FFFFFF!important;
}